<%- include('../layouts&partials/admin/header.ejs') %>


<div style="display: flex;background-color: white">
    


    <div style="margin-top: 85px; width:100%">

  <h4 class="card-title"
            style="text-align: center; font-size: 28px; font-weight: bold; color: #0f0f0f; text-transform: uppercase; letter-spacing: 2px; margin-bottom: 20px;">
            SALES REPORTS</h4>


<div style="margin-top: 40px;">
  <form action="/admin/generateReport" method="post" onsubmit="return validateForm()">
    <label for="start-date">Start Date</label>
    <input type="date" id="startDate" name="startDate">
  
    <label for="end-date">End Date</label>
    <input type="date" id="endDate" name="endDate">
  
    <button type="submit" class="btn btn-outline-primary" style="margin-left: 20px;">Generate Report</button>
  </form>
  
</div>

<% if (orders) { %>

     <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4  class="card-title text-center ">Sales Report Table</h4>
                      <div style="margin-bottom: 50px;">
                        <a href="/admin/downloadExcel?startDate=<%=startDate%>&endDate=<%=endDate%>"><button type="button" class="btn btn-outline-primary">Download Excel</button></a>
              </div>
                    
                    <div class="table-responsive" style="background-color: maroon">
                      <table  id="example"  class="table table-bordered" style="background-color: maroon">
                        <thead >
                          <tr style="color:rgb(255, 255, 255)">
                            <th>S.No</th>
                            <th>Order Id</th>
                            <th>Custome Name</th>
                            <th>Bill Amount</th>
                            <th>Payment Type</th>
                            <th>Order Status</th>
                            <th>Date</th>
                            <th>Products</th>
                          </tr>
                        </thead>
                        <tbody style="color: white;">
                                <% orders.forEach(function(orders, index) { %>
                          <tr>
                            <td><%= index+1 %></td>
                            <td><%=orders.orderId%></td>
                            <td><%=orders.userId.name%></td>
                            <td><%=orders.total%></td>
                            
                            <td><%=orders.paymentType%></td>
                            <td><%=orders.status%></td>
                            <td><%=orders.date.toDateString()%></td>
                            <td>
                              &#x20B9;
                              <%=orders.total%>&nbsp;for
                                  <%=orders.products.length%>
                                      item(s)</td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

       
              

<% } %>







    </div>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.5/css/buttons.dataTables.min.css">

<style>
  #example tbody tr {
    height: 50px;
  }
</style>
<style>
 
label {
  margin: 10px;
  font-size: 12px;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
input {
  font-size: 12px;
}


</style>


<script>
  // Function to validate the form before submission
  function validateForm() {
    var startDate = document.getElementById('startDate').value;
    var endDate = document.getElementById('endDate').value;

    if (startDate >= endDate) {
      alert("End date must be greater than the start date.");
      return false; // Prevent form submission
    }
  }
</script>


